*{
  margin: 0;
  padding: 0;
}
body{
  background-color: whitesmoke;
}

/*................................NAVBAR.....................................*/

.navbar{
  background-color: white;
  padding: 20px;
}

.logo{
  font-size: 5px;
  font-family: cursive;
  font-weight: 600;
  color: #04bade;
}

.active:hover{
  background-color: #ffff;
  color: #04bade;
}

.collapse ul li a{
  color: #000000;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-right: 20px;
  padding: 10px;
}
.collapse ul li a :focus{
  color: #04bade;
  background-color: #006ca5;
}

/*.................................HOME............................*/

.Home{
  margin: 150px;
}

.col img{
  width: 320px;
  height: 320px;
  border-radius: 50%;
}
.col h1{
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.col h2 span{
  font-size: 50px;
  color: #0492c2;
}
.col p{
  color: #000000;
  font-size: 18px; 
  font-family:'Courier New', Courier, monospace; 
  color: #0a7194;
  font-weight: 600;
}
.col a{
  color: white;
  background-color: #006ca5;
  border-radius: 2px;
  padding: 10px;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: bold;
}

.col a:hover{
  background-color: #04bade;
  color: white;
}

/*............................SKILL SETS....................................*/

.Skills{
  margin: 150px;
}

.Skills h5{
  font-size: 20px;
}

.Skills h1{
  text-align:center
}

.components{
  margin-top: 50px;
}

.progress{
  margin-top: 20px;
}

/*...................................PROJECT PAGE..............................*/

.Project-page {
  margin-top: 150px;
}

.Project-page h1{
  text-align: center;
}

.card{
  margin-top: 150px;
  border: 2px solid #0a7194;
}

.card-img-top{
  padding: 15px;
}

.card-body h5{
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  margin-top: 20px;
}

.card-body p{
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  color: rgb(58, 58, 58);
}

.card-body a{
  color: white;
  background-color: rgb(80, 40, 80);
  margin-top: 50px;
}

.card-body a:hover{
  background-color: #006ca5;
}

/*...................CONTACT PAGE.....................*/

.Contact{
  margin-top: 150px;
}

.Contact h1{
  text-align: center;
}

.elements{
  margin-top: 100px;
  padding: 50px;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 10px;
}
.elements label{
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  color: #000000;
}

.elements p{
  margin-top: 20px;
  color: #8d8888;
}

/*......................FOOTER...................*/

.footer{
  margin-top: 150px;
  background-color: #202020;
}

.brands{
  padding-top: 50px;
  text-align: center;
}

.footer p {
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  color: rgb(173, 169, 169);
  font-size: 10px;
}

.footer a{
  color: rgb(173, 169, 169);
  font-size: 12px;
  text-align: center;
}





